canvas {
  margin-top: 100px;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 6px 5px 15px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 6px 5px 15px 1px rgba(0, 0, 0, 0.24);
  cursor: none;
}
